@use "sass:map";
@import "../../../styles/pages/theme.scss";

.purchase-history {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .notification-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 12px;
      text-align: center;
      border: 1px solid #ddd;
      font-size: 16px;

      width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    th {
      background-color: #f2f2f2;
      color: #333;
      font-weight: bold;
    }

    tr {
      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:nth-child(odd) {
        background-color: #ffffff;
      }

      &:hover {
        background-color: #e8e8e8;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    .page-number {
      margin: 0 5px;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      background-color: #f0f0f0;
      cursor: pointer;
      transition: background-color 0.3s;

      &.active {
        background-color: map.get($theme-color, "main-color");
        color: white;
      }

      &:hover {
        background-color: #ddd;
      }
    }
  }
}
