@use "sass:map";
@import "../../../styles/pages/theme.scss";
.sidebar-admin {
  padding: 20px;
  min-height: 90vh;
  background-color: map.get($theme-color, "main-color");
  border-right: 1px solid #ddd;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    opacity: 0.9;
  }

  ul {
    width: 100%;
    list-style: none;
    padding: 0;

    li {
      padding: 12px 15px;
      margin: 10px 0;
      border-radius: 8px;
      transition:
        background-color 0.3s ease,
        transform 0.3s ease;
      cursor: pointer;

      a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: 500;
        opacity: 0.8;
        display: block;
        width: 100%;
      }

      &:hover,
      &.active {
        background: linear-gradient(
          to left,
          map.get($theme-color, "main-color"),
          lighten(map.get($theme-color, "main-color-light"), 20%)
        );
        transform: scale(1.05);

        a {
          color: #fff;
          font-weight: bold;
          opacity: 1;
          transition:
            font-size ease 0.2s,
            opacity ease 0.2s,
            font-weight ease 0.1s;
        }
      }
    }
  }
}
