@use "sass:map";
@import "../../../styles/pages/theme.scss";

.cart-page {
  padding: 100px 20px 2px 20px;
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .cart-container {
    margin-top: 20px;
  }

  .cart-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 15px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f4f4f4;
      font-weight: bold;
      font-size: 1rem;
      color: #333;
    }

    td {
      font-size: 0.95rem;
    }

    .cart-item-image {
      width: 60px;
      height: auto;
      border-radius: 4px;
      object-fit: cover;
    }

    tr:hover {
      background-color: #f9f9f9;
    }
    .handle-quantity {
      display: flex;
      justify-content: center;
      align-items: center;

      .button-decrease,
      .button-increase {
        font-size: 20px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e0e0e0;
        color: #333;
        border-radius: 50%;
        cursor: pointer;
        transition:
          background-color 0.2s ease,
          color 0.2s ease;

        &:hover {
          background-color: #d4d4d4;
          color: #000;
        }
      }

      .button-decrease {
        margin-right: 10px;
      }

      .button-increase {
        margin-left: 10px;
      }
    }

    .form-control {
      text-align: center;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 8px;
      width: 50px;
    }

    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  .remove-button {
    background-color: #ff4d4f;
    border: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;

    svg {
      font-size: 1.1rem;
    }

    &:hover {
      background-color: #ff7875;
    }
  }

  .clear-cart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #ff7875;
    }
  }
  .payment-cart {
    float: right;
    margin: 20px 40px 0 0;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #29960d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #137210;
    }
  }

  p {
    font-size: 1rem;
    color: #666;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
      margin: 0 5px;
      padding: 8px 12px;
      border: none;
      background-color: #f4f4f4;
      cursor: pointer;

      &.active {
        background-color: #ff4d4f;
        color: #fff;
      }

      &:hover {
        background-color: #ff7875;
        color: #fff;
      }
    }
  }
}
