@use "sass:map";
@import "../../../../styles/pages/theme.scss";

.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .login-form {
    position: relative;
    width: 30%;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    height: fit-content;
    .icon-close {
      position: absolute;
      right: 20px;
      top: 15px;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        fill: map.get($theme-color, "main-color");
      }
    }
    input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
    }
    h2 {
      font-size: 20px;
    }
    .forget-pass {
      float: left;
      span {
        cursor: pointer;
        color: map.get($theme-color, "main-color");
        text-decoration: none;
        font-size: 14px;
      }
    }
    .signup {
      padding-top: 10px;
      display: inline-block;
      font-size: 14px;
      span {
        cursor: pointer;
        margin-left: 5px;
        color: map.get($theme-color, "main-color");
        text-decoration: none;
        font-size: 14px;
      }
    }
    .other-login {
      margin-top: 10px;
      justify-content: space-around;
      display: flex;
      padding: 10px;
      .facebook-login {
        cursor: pointer;
        align-content: center;
        width: 35%;
        height: 35px;
        border: 1px solid #ccc;
      }
      .google-login {
        cursor: pointer;
        align-content: center;
        width: 35%;
        height: 35px;
        border: 1px solid #ccc;
        span {
          margin-right: 15px;
        }
      }
      svg {
        font-size: 28px;
        fill: #1877f2;
      }
      span {
        font-weight: 600;
        font-size: 14px;
        margin: 8px 5px;
        float: right;
      }
    }

    button {
      margin-right: 25%;
      background-color: map.get($theme-color, "main-color");
      color: #fff;
      width: 30%;
      padding: 8px 5px;
      margin-top: 20px;
      // border-radius: 14px solid;
      border: 2px solid map.get($theme-color, "main-color");
      cursor: pointer;
      &:hover {
        color: white;
        border: 2px solid map.get($theme-color, "main-color");

        background-color: #be091f;
      }
    }

    .close-btn {
      background-color: map.get($theme-color, "main-color");
      color: white;
    }
    .password-container {
      position: relative;
      width: 100%;

      input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
      }

      .password-toggle-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 18px;
        color: #888;
      }
    }
  }
}
